.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30% auto;
  background-color: rgb(44, 43, 43);
  color: #fffff5;
  border-width: 4px solid black;
  border-radius: 0.25rem;
  width: 60vw;
  height: auto;
  gap: 20px;
  padding: 30px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  position: relative;
}

.close {
  fill: #fffff5;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  };