


.key {
    width: 60px;
    height: 55px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    display: grid;
    place-items: center;
    font-size: 14px;
    font-weight: 800;
    background-color: rgb(230, 230, 230);
    color: black;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    
}

.key:hover {
    background-color: #264BCC;
    color: whitesmoke;
    border: 3px inset white;
  }
