.Keyboard {
    width: 800px;
    height: 300px;
}

.Row {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.wordle {
    width: 175px;
    height: 70px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-weight: 800;
    color: rgb(170, 26, 170);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 75px;  
}
