@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.Keyboard {
    width: 500px;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2.5px;
}

.wordle {
    width: fit-content;
    height: 70px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-weight: 800;
    color: red;
    font-family: 'Press Start 2P', cursive;
    float: center;
}

.header {
    height: 200px;
    display: flex;
    justify-content: center; 
    background-image: url(https://images.pexels.com/photos/1637436/pexels-photo-1637436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size:500px;
    margin-bottom: 20px;
}

.app{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}